In [1]:
import numpy as np
import pandas as pd
from tqdm import trange 
from tqdm import tqdm
import time
import os

In [2]:
df = pd.read_csv('study_room_HMS.csv')
df.head()

,Unnamed: 0,study_start_day,study_start_time,study_end_day,study_end_time,hashed
0,0,1,09:14:58.558,1,09:41:30.200,967393e81d99ce8e577ee130b7ce8e4fd45e3e9cecb560...
1,1,17,11:05:05.176,17,13:07:42.515,02181a0c962f34f019bc9d5b582fb0ec79b1441f96aa4d...
2,2,20,02:18:43.172,20,02:28:58.177,86022904c5cf72a54978479c94041f4256d6c3c2a1f71c...
3,3,22,09:22:01.936,22,09:47:40.192,aafb40d212fe18ff4eafb82fdcf3b53f2161cb3ce59de4...
4,4,26,06:29:21.182,26,06:50:55.004,c87c2fad141edf323f3787335b54be22945a02fe052448...

In [3]:
df.shape

(6962341, 6)

In [4]:
del df['Unnamed: 0']

In [5]:
def split_generator(column):
    i = 0
    for row in column:
        people = row.split(',')
        for person in people:
            yield [i, person]
        i += 1

In [6]:
person = split_generator(df['hashed'])

In [ ]:
# 사람 별 데이터 만들기
lst = []
for i in tqdm(range(100000000)):
    try:
        lst.append(next(person))
    except:
        break

 26%|███▌          | 25759471/100000000 [22:09<06:33, 188670.16it/s]

In [ ]:
data = pd.DataFrame(lst)
data.head()

In [ ]:
data.iloc[-1]